<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>District:</strong>
    <%= building.district.name %>
  </p>

  <%= link_to "Show this building", building %>

</div>
