<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :district_id, style: "display: block" %>
    <%= form.select :district_id, District.all.collect {|y| [y.name, y.id]} %>
  </div>

  <div>
    <%= form.label :service_ids, "Servicios", style: "display: block" %>
    <%= form.collection_check_boxes :service_ids, @services, :id, :name do |cb| %>
      <div class="form-check">
        <%= cb.label(class: "mb-1 fst-italic") { cb.check_box(class: "me-2" ) + cb.text } %> <br>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
