<p style="color: green"><%= notice %></p>

<%= render @district %>

<div>
  <%= link_to "Edit this district", edit_district_path(@district) %> |
  <%= link_to "Back to districts", districts_path %>

  <%= button_to "Destroy this district", @district, method: :delete %>
</div>
