<%= render @district %>

<% if current_client.present? && (current_client.role == "admin") %>

  <div>
    <%= link_to "Edit this district", edit_district_path(@district) %> |
    <%= link_to "Back to districts", districts_path %>

    <%= button_to "Destroy this district", @district, method: :delete %>
  </div>

<%else%>
  <%= link_to "Back to districts", districts_path %>
<%end%>