<div id="<%= dom_id apartment %>">

  <div class="card round mb-4">
    <% if apartment.images.present? %>
      <%= image_tag apartment.images[0] %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">Apartamento <%= apartment.name %> <%= apartment.number %></h5>
      <p class="card-text">Habitaciones: <%= apartment.rooms %></p>
      <p class="card-text">Baños: <%= apartment.bath %></p>
      <p class="card-text">Precio: <%= number_to_currency(apartment.price, precision: 0) %></p>
      <p class="card-text">ESTADO: <%= apartment.state.tipo%></p>
      <%= link_to "Show this apartment", apartment %>
    </div>
  </div>

</div>
