<div id="<%= dom_id apartment %>">


  <% apartment.images.each do |u| %>
    <%= image_tag u, class:"d-block mb-3 w-50 col-6" %>
  <%end%>

  <p>
    <strong>Apartamento:</strong>
    <%= apartment.name %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= apartment.number %>
  </p>

  <p>
    <strong>Habitaciones:</strong>
    <%= apartment.rooms %>
  </p>

  <p>
    <strong>Baños:</strong>
    <%= apartment.bath %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= number_to_currency(apartment.price, precision: 0) %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= apartment.building.name %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= apartment.state.tipo%>
  </p>

</div>
