<div id="<%= dom_id apartment %>">
  <p>
    <strong>Name:</strong>
    <%= apartment.name %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= apartment.rooms %>
  </p>

  <p>
    <strong>Bath:</strong>
    <%= apartment.bath %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= apartment.price %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= apartment.building_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= apartment.state_id %>
  </p>

</div>
