<%= form_with(model: apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number, max: 9999 %>
  </div>

  <div id="test-message">
    <%= form.label :rooms, style: "display: block" %>
    <%= form.select :rooms, set_options_range(0, 6) %>
  </div>

  <div>
    <%= form.label :bath, style: "display: block" %>
    <%= form.select :bath, set_options_range(0, 6) %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, max: 9999999999 %>
  </div>

  <div>
    <%= form.label :building_id, style: "display: block" %>
    <%= form.select :building_id, Building.all.collect {|c| [c.name, c.id]} %>
  </div>

  <div>
    <%= form.label :state_id, style: "display: block" %>
    <%= form.select :state_id, State.all.collect {|o| [o.tipo, o.id]} %>
  </div>
  

  <div class="mb-3">
    <%= form.label :images, "Imagen adjunta", style: "display: block", class:"fw-bold mb-2" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
