<h1>Departamentos</h1>

<div id="apartments">

  <div class="text-center">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>

  <div class="row">

    <% if current_client.present? && (current_client.role == "admin" || current_client.role == "vendedor") %>

      <% @apartments.each do |apartment| %>

          <div class="col-4">
            <%= render partial: 'alterApartment', locals: { apartment: apartment } %>
          </div>

      <% end %>

    <%else%>
      <% @apartments.each do |apartment| %>
        <% unless apartment.state.tipo == "Vendido" || apartment.state.tipo == "Arrendado" %>
          <div class="col-4">
            <%= render partial: 'alterApartment', locals: { apartment: apartment } %>
          </div>
        <%end%>
      <% end %>
    <%end%>
  </div>
</div>

<div class="text-center">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>

<% if current_client.present? && (current_client.role == "admin") %>
  <%= link_to "New apartment", new_apartment_path, class: "btn btn-primary" %>
<%else%>
<%end%>

