<!DOCTYPE html>
<html>
  <head>
    <title>Inmoviliaria Buena Vista</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg bg-dark p-0">
      <div class="container-fluid mx-5">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Inicio", root_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
              <% if client_signed_in? %>
                  <%= link_to 'Mi cuenta' , edit_client_registration_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %> <!--  # current_user.name-->

                  <%= link_to "Apartamentos", apartments_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                  <%= link_to "Edificios", buildings_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                  <%= link_to "Comunas", districts_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                  <%= link_to "Servicios", services_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>

                  <%= link_to "Salir", destroy_client_session_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
              <%else%>
                  <%= link_to "Entrar", new_client_session_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                  <%= link_to "Registrarse", new_client_registration_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
              <%end%>
          </div>
        </div>
      </div>
    </nav>









    <div class="container mt-5"><%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

  </body>
</html>
